.input-field1 {
  background-color: var(--white);
  color: #7a7a7a;
  width: 100%; /*temporary */
  height: 31px;
  font-size: 1rem;
  border-radius: 2px;
  outline: none;
  text-align: left;
  border: transparent;
  padding: 6px 12px;
  border-radius: 7px;
}

.input-field1:hover {
  background-color: #ced4da;
}

.no-hover:hover {
  background-color: f2f2f2;
}

@media screen and (max-width: 600px) {
  .input-field1 {
    width: auto;
  }
}
