.input-field,textarea {
  color: var(--dark-primary);
  width: 100%; 
  height:40px;
  font-size: 15px;
  font-weight: 600;
  outline: none;
  text-align: left;
  border: transparent;
  padding: 6px 12px 6px 15px;
  background-color: transparent;
  border-bottom: 1px solid var(--dark-primary);
  border-width: 80%;  
}

.input-field:active,
.input-field:focus {
  background-color: transparent;
}

.input-field.typing {
  border: 1px solid #000; /* Change #000 to the desired border color */
}

textarea{
  resize: vertical;
  min-height: 37px;
  max-height: 100px;
}

@media screen and (max-width: 600px) {
  .input-field1 {
    width: auto;
  }
}
