.contact-container{
    background-color: var(--primary);
    align-items: center;
}

.contact-content{
    height: 100%;
    border-radius: 8px;
    display: flex; 
    justify-content: space-between;
}

/* TEXT  */

.contact-text{
    width: 60%;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    gap: 110px;
}

.contact-heading{
    color: white;
    font-size: 45px;
}

.social-links li{
    list-style: none;
    margin-bottom: 10px;
}

.social-links p{
    width: 300px;
    color: var(--dark-primary);
    padding: 8px 15px;
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.social-links p span{
    margin: 0 0 2px 15px;
}

.social-links p:hover{
    background-color: var(--dark-primary);
    color: var(--white);
}

/* FORM  */
.contact-form{
    width: 40%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-fields{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.form-button{
    margin-top:50px;
}

.form-button button{
    background-color: var(--white);
    color: var(--dark-primary);
}

.form-button button:hover{
    background-color: var(--dark-primary) ;
    color: var(--white) ;
}


@media screen and (max-width:425px) {
    .contact-heading{
        height: 70px;
}
}

@media screen and (max-width:768px) {


    .contact-content{
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .social-links{
        display: flex;
        gap: 20px;
        margin-top: 15px;
    }

    .social-links p{
        width: auto;
        padding-left: 0px;
    }

    .social-links p span{
        display: none;
    }
 
    /* TEXT CONTACT  */
    .contact-text{
        width: 100%;
        gap: 20px;
    }

    .contact-heading{
        font-size: 35px;
    }

    .contact-form{
        width: 100%;
        padding: 0;
    }
  }

  @media screen and (max-width:325px) {
    .contact-heading{
        font-size: 30px;
    }
  }
