.container > div {
    height: calc(100vh - 71px);
    display: flex;
    justify-content: center;
    padding: 0 40px;
  }

.container > div > section{
    width: 69rem;
}

@media screen and (max-width:768px) {
  .container > div {
    height: 100%;
    padding: 0 50px;
  }

  .container > div > section{
    width: 100%;
  }
}

@media screen and (max-width:325px) {
  .container > div {
    height: 100%;
    padding: 0 30px;
  }

}
